@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-gradient-flow {
	animation: gradient-flow 8s ease infinite;
}

@layer utilities {
	.mask-pixel {
		mask-image: radial-gradient(black 1px, transparent 1px);
		mask-size: 15px 15px;
		-webkit-mask-image: radial-gradient(black 1px, transparent 1px);
		-webkit-mask-size: 15px 15px;
	}

	.gradient-border {
		--tw-border-opacity: 1;
		border-image-source: linear-gradient(
			to right,
			theme("colors.indigo.500"),
			theme("colors.blue.500")
		);
		border-image-slice: 1;
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: #3b82f6; /* Цвет кнопок */
		background-color: rgba(255, 255, 255, 0.8); /* Фон кнопок */
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 20px;
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent;
	border-radius: 0px;
	border: 0px solid transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 0px;
	border: 0px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

::-webkit-scrollbar-thumb:active {
	background: transparent;
	border-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background: transparent;
}

* {
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}
