@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.gradient-border {
		--tw-border-opacity: 1;
		border-image-source: linear-gradient(
			to right,
			theme("colors.indigo.500"),
			theme("colors.blue.500")
		);
		border-image-slice: 1;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE и Edge */
		scrollbar-width: none; /* Firefox */
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: #3b82f6; /* Цвет кнопок */
		background-color: rgba(255, 255, 255, 0.8); /* Фон кнопок */
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 20px;
	}
}
